* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #1E3853;
    color: white;
    padding: 1rem;
}




nav {
    color: #1E3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#NavNombre {
    color: white;
}

#inicio {
    background-color: #6048A6;
    color: white;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    min-height: 200px;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    

    
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.project-card {
    border: 1px solid #ddd;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
}

button {
    padding: 0.5rem;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    
}

footer {
    background: #1E3658;
    color: white;
    text-align: center;
    padding: 1rem;
}

.contact{
    background: #F2F5FA;
    text-align: center;
}

.social{
    background: #F2F5FA;
    text-align: center;
}

.project-grid {
    display: flex; /*Poner cajas en una fila continuas*/
    gap: 20px;/*Poner espacio entre los cuadros */
    justify-content: center; /* Centrar las cajas*/
}

.project-card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: left;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* X, Y, difuminado, color */
}

#botonProyectos {
    background-color: #EF7424;
}

.verMas {
    border: 2px solid #b1d0E2;
    background-color: white;
    color: #018;
}

#enviarMensaje {
    background-color: #2B69E4;
}

#inicio {
    height: 100px;
}

.project-card button {
    display: block; /*el botón ocupa su propia línea*/
    margin: 15px auto 0; /*centra horizontalmente*/
    margin-top: 15px; /*deja espacio con el texto (que esta arriba)*/
}

.project-card img {
    display: block;
    margin: 0 auto 10px;
    margin-bottom: 5px; 
}

.nombreYemail{ 
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.nombreYemail input {
    flex: 1; /* ambos ocupan el mismo ancho */
}

/*Contacto*/
.contenido-contacto {
    display: flex;
    align-items: center;
}

.contenido-contacto form {
    flex: 15; /*Espacio que ocupa el form en el flex*/
}

.contact-image {
    flex: 1; /*Espacio que ocupa los iconos*/
}
