* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #1E3853; /*color del header*/
    color: white; /*color de las letras del header*/
    padding: 1rem; /*espacio entre elementos del header*/
}

img {
    max-width: 100%; /*Evita que la imagen se salga de la pantalla en celulares muy pequeños */
    height: auto;
}


nav {
    display: flex; /*poner los elementos del nav en una misma fila, para que el nombre este de un lado, y las secciones del otro*/
    justify-content: space-between; /*poner espacio entre los elementos del nav*/
    align-items: center; /*alinear los elementos del nav al centro*/
}

#NavNombre {
    color: white; /*color del nombre en el nav*/
}

#inicio {
    background-color: #6048A6; /*Color de fondo del apartado de inicio*/
    color: white; /*Color de las letras del apartado de inicio*/
}


#botonProyectos {
    background-color: #EF7424; /*Color del boton de la seccion del inicio*/
}

#inicio {
    height: 100px; /*Tamanio de la seccion de incio*/
}


nav ul {
    display: flex; /*poner los apartados en la misma fila*/
    list-style: none; /*Quitar los puntos de los elementos de la lista*/
    gap: 1rem; /*poner espacio entre los elementos de la lista*/
}

nav a {
    color: white; /*color de los enlaces del nav*/
    text-decoration: none; /*Quitarles el subrayado al los enlaces*/
}

nav a:hover { /*Efecto al pasar el raton por encima de los enlaces del nav*/
    color: #EF7424; /*cambiar el color de las letras al pasar el raton por encima*/
}

section {
    padding: 2rem; /*espacio entre los elementos de las secciones*/
    min-height: 190px; /*altura minima de las secciones*/
}

.hero {
    background: #f4f4f4; /*color de fondo del apartado hero de los proyectos*/
    text-align:  center; /*centrar el texto del apartado incio*/
}

.project-grid { 
    display: grid; /*poner las tarjetas de proyectos en una misma fila*/
    gap: 1rem; /*poner espacio entre las tarjetas de proyectos*/
    margin-top: 1rem; /*poner espacio entre el titulo y las tarjetas de proyectos*/
}

.project-card {
    border: 1px solid #ddd; /*borde de las tarjetas de proyectos*/
    padding: 1rem; /*espacio entre los elementos de las tarjetas de proyectos*/
}

#titulo-proyectos { 
    margin-left: 330px; /* Alinear texto de "mis proyectos con las tarjetas */ 
}

form {
    display: flex; /*poner los elementos del formulario (solo nombre e email)en una misma fila*/
    flex-direction: column; /*poner los elementos del formulario en columnas*/
    gap: 1rem; /*poner espacio entre nombre y email, y mensaje*/
    max-width: 500px; /*ancho maximo del formulario*/
}

input, textarea {
    padding: 0.5rem; /*espacio dentro de los cuadros de texto*/
    border: 1px solid #ddd; /*borde de los cuadros de texto*/
}

button { /*estilo comun de los botones*/
    padding: 0.5rem; /*espacio dentro de los botones*/
    color: white; /*color de las letras de los botones*/
    border: none; /*quitar el borde de los botones*/
    cursor: pointer; /*cambiar el cursor al pasar por encima de los botones*/
    border-radius: 20px; /*hacer los botones circulares*/
    margin-top: 10px; /*poner espacio entre el boton y el elemento de arriba*/
    
}

footer { 
    background: #1E3658; /*color de fondo del footer*/
    color: white; /*color de las letras del footer*/
    text-align: center; /*Alinear el texto al centro*/
    padding: 1rem; /*Espacio que ocupa el footer*/
}

.contact{
    background: #F2F5FA; /*color del fondo de la seccion de contacto*/
    text-align: center; /*Alinear el titulo al centro*/
}

.social{
    background: #F2F5FA; /*Color del fondo de la seccion contacto*/
    text-align: center; /*alinear elementos (iconos) al centro*/
}

.project-grid {
    display: flex; /*Poner cajas en una fila continuas*/
    flex-wrap: wrap; /*permite que las tarjetas bajen si no caben */
    gap: 20px;/*Poner espacio entre los cuadros */
    justify-content: center; /* Centrar las cajas*/
}


.project-card {
    border: 1px solid #ccc; /*Borde de las tarjetas de bloque*/
    padding: 25px; /*Espacio dentro de la tarjeta*/
    width: 100%; /*Ancho de la tarjeta*/
    max-width: 320px; /*Para que no crezca mucho*/
    text-align: left; /*Alinear el texto a la izquierda*/
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* ponerle sombra a la caja: X, Y, difuminado, color */
    border-radius: 4%; /*Hacer las tarjetas de bloque circulares*/
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto suave */

    display: flex; /*Activa el flexbox para organizar los elementos*/
    flex-direction:column; /*Los organiza uno debajo de del otro*/
}

.verMas {
    border: 2px solid #b1d0E2; /*Color del borde de los botones de ver mas*/
    background-color: white; /*Color del fondo de los botones*/
    color: #018; /*Color del texto de los botones*/
}

#enviarMensaje {
    background-color: #2B69E4; /*Color del boton de enviar mensaje*/
}


.project-card button {
    display: block; /*el botón ocupa su propia línea*/
    margin: 15px auto 0; /*centra horizontalmente*/
    margin-top: 15px; /*deja espacio con el texto (que esta arriba)*/
}

.project-card img {
    display: block; /*La imagen ocupa su propia linea*/
    margin: 0 auto 10px; /*centrar la imagen*/
    margin-bottom: 5px; /*crear espacio en la parte de abajo para separar la imagen del texto*/
    border-radius: 20px; /*hacer la imagen circular*/
    width: 100%; /*Hacer que la imagen ocupe todo el ancho de la tarjeta*/
    height: 180px; /*Se ponen del mismo tamano para que se vean iguales*/
    object-fit: cover; /*Se ocupa toda la imagen*/
}

.project-card p {
    display: block; /*El parrafo ocupa su propia linea*/
}

.nombreYemail{ 
    margin-top: 10px; /*Crear espacio entre el cuadro de email y el cuadro de mensaje*/
    display: flex; /*Poner los cuadros de nombre y email en una misma fila*/
    gap: 15px; /*Crear espacio entre los cuadros de nombre y email*/
}

.nombreYemail input {
    flex: 1; /*Hacer que ambos ocupen el mismo ancho */
}

/*Contacto*/
.contacto {
    padding: 60px 10%; /*Pone espacio a los lados */
    text-align: center; /*Centra el título y el contenido*/
    background-color: #fdfdfd; /*Color de fondo de la seccion de contacto*/
}

.contenido-contacto {
    display: flex; /*Activa el flexbox para poder organizar las cajas de texto*/
    flex-direction: column; /*Apila las cajas y los iconos del formulario de manera vertical*/
    align-items: center; /*Centra los elementos*/
    gap: 40px; /*Crea espacio entre los iconos y el formulario*/
    margin-top: 30px; /*Crea espacio entre el titulo contacto y el formulario*/
}

.contenido-contacto form {
    display: flex; /*Activa el flexbox para organizar los elementos del formulario*/
    flex-direction: column; /*Organiza los elementos del formulario en columnas*/
    width: 100%; /*Hace que el formulario ocupe todo el espacio disponible*/
    max-width: 500px; /*Evita que el formulario se haga demasiado angosto */
    
}

.contacto-imagen {
    display: flex; /*Poner las imagenes juntas y en el centro*/
    align-items: center;
    justify-content: center;
}

input,textarea{
    width: 100%; /*Ocupan todo el espacio que se les dé */
    padding: 12px; /*hace las cajas mas gordas*/
    box-sizing: border-box; /*Asegura que el padding no aumente el tamaño total */
}

/*Botones de lenguajes*/
.botonesLenguajes button {
    background-color: #e0e1e2; /*Color de fondo de los botones de lenguajes*/
    color: black; /*Color de las letras de los botones de lenguajes*/
    margin: 0; /*Descentrar los botones que se alinearon en 'button'*/
}
.botonesLenguajes {
    display: flex; /*Poner los botones en una misma fila*/
    text-align: left; /*Alinear botones a la izquierda*/
    gap: 10px; /* Espacio entre botones */
    margin-right: 10px; /*Crear espacio a la derecha de los botones*/
    margin-top: 10px; /*Crear espacio entre texto y botones*/
}

/*Bloque 2*/

#texto-sobre-mi{
    text-align: center; 
    /* Efecto de brillo usando varias capas de sombra */
    text-shadow: 
      0 0 4px white,
      0 0 0px white,
      0 0 0px white,
      0 0 0px white;
}

.about-me{
    text-align: left; 
    background-color: black; /*Color de fondo de la seccion*/
    color: white; /*Color de los textos de la seccion*/
}

.foto-y-descripcion {
    margin-top: 15px; /*Espacio entre el titulo y la imagen*/
    margin-bottom: 50px; /*poner espacio entre el texto y la lista*/
    padding-left: 10%; /*Para poner espacio entre el borde izquierdo y la imagen*/
    padding-right: 10%; /*Para poner espacio entre el borde derechp y el texto*/
    display: flex !important; /* El !important asegura que no haya otra regla ganándole */
    justify-content: center; /* ESTA LÍNEA centra el grupo completo horizontalmente */
    align-items: center;  /* Alinea el texto al inicio de la imagen */
    gap: 30px; /*Espacio entre la imagen y el texto*/
    width: 100%;/* Asegura que el contenedor use todo el espacio */
}

.foto-y-descripcion img {
    border: 5px solid white; /*ponerle un marco blanco al perfil*/
    border-radius: 70px; /*hacerlo un circulo*/
    object-fit: cover; /*Asegurarse que la imagen no se deforme*/
}

.about-me{
    list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="5" r="3" fill="%23ff6b6b"/></svg>');
    text-align: left; /*Alinear el texto junto a la imagen a la izquierda*/
}

/*Tarjetas de habilidades*/
.skill-grid-1 {
    margin-top: 20px; 
    display: flex; /*Poner cajas en una fila continuas*/
    gap: 20px;/*Poner espacio entre los cuadros */
    justify-content: center; /* Centrar las cajas*/
    flex-wrap: wrap; /*Hace que las cajas bajen a otra línea si no hay espacio */
    padding-right: 15px; /*Ponerle espacio para que no se pegue al borde*/
    padding-left: 15px;
}

.skill-grid-2 {
    margin-top: 30px;
    display: flex; /*Poner cajas en una fila continuas*/
    gap: 20px;/*Poner espacio entre los cuadros */
    justify-content: center; /* Centrar las cajas*/
    flex-wrap: wrap; /*Hace que las cajas bajen a otra línea si no hay espacio */
    padding-right: 15px; /*Ponerle espacio para que no se pegue al borde*/
    padding-left: 15px;
}

.skill-card {
    border: 1px solid #ccc; /*Borde de las tarjetas de bloque*/
    padding: 25px; /*Espacio dentro de la tarjeta*/
    width: 90%; /*Ancho de la tarjeta*/
    max-width: 280px;
    text-align: center; /*Alinear el texto a la izquierda*/
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.3); /* ponerle sombra a la caja: X, Y, difuminado, color */
    border-radius: 15%; /*Hacer las tarjetas de bloque circulares*/
    flex-grow: 1; /*Las tarjetas crecen si sobra espacio*/
    background-color: #222; /*Color de fondo de las tarjetas**/
}

/*EFECTO HOVER: Al pasarle el mouse, la tarjeta se eleva y resalta */
.skill-card:hover {
    transform: translateY(-5px); /*Se mueve un poquito hacia arriba */
    border-color: #ff6b6b; /*Cambia el borde de color */
    transition: 0.3s; /*Hace como una animacion */
}

/*EFECTO HOVER: Al psasrle el mouse La tarjeta se eleva y resalta */
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

/* ESTILO DE LOS BADGES */
.badges {
    margin: 1rem 0; /*Ajustarlos al centro*/
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.badge {
    padding: 4px 10px; /*Hacer los botones mas anchos*/
    border-radius: 20px; /*Hacer los botones circulos*/
    font-size: 0.75rem; /*ajustar tamanio de texto*/
    font-weight: bold; /*colocarlos en negritas*/
    margin-right: 5px; /*poner espacio entre botones*/
    color: white; /*color de los textos*/
}

/* Colores específicos por tecnología */
.html { background-color: #e34c26; }
.css { background-color: #264de4; }
.js { background-color: #f7df1e; color: #333; }

/* ENLACES DEMO Y CÓDIGO */
.card-links {
    display: flex; /*Poner los botones en la misma fila*/
    gap: 10px; /*Poner espacio entre botones*/
    margin-top: 15px; /*Poner espacio entre botones y lenguajes*/
}

.btn-link {
    flex: 1; /*ajustar horizontalmente los botones*/
    text-align: center; /*colocar los botones en el centro*/
    padding: 8px; /*ajustar verticalmente los botones*/
    text-decoration: none; /*quitar subrayado*/
    border-radius: 6px; /*hacerlo circulo*/
    font-size: 0.9rem; /*ajustar tamanio de texto*/
    transition: background 0.2s;
}

/*CAMBIAR COLORES Y FONDOS DE LOS BOTONES DEMO Y CODIGO*/
.demo { /*color normal*/
    background-color: #333; 
    color: white;
}

.demo:hover { background-color: #000; } /*color normal*/

.code {/*color normal*/
    border: 1px solid #333;
    color: #333;
}

.code:hover {
    background-color: #f4f4f4; /*color encima*/
}

/* Responsive seccion inicio */
/* Esta regla se activa cuando la pantalla mide 768px o menos */
@media (max-width: 768px) {
    
    .about-me h2 {
        text-align: center; /*Centra el título "Sobre Mí"*/
    }

    .foto-y-descripcion {
        flex-direction: column; /* Pone los elementos en columna (uno sobre otro) */
        padding-left: 20px;     /* Reducimos el padding */
        padding-right: 20px;
        text-align: center;     /* Se centra el texto para que se vea equilibrado */
    }

    /* Se ajusta el tamaño de la imagen*/
    .foto-y-descripcion img {
        width: 150px;
        height: 150px;
    }
}


/* Responsive seccion habilidades */
@media (max-width: 600px) {
    .skill-card {
        /* En celulares, aseguramos que no se vean demasiado anchas ni angostas */
        max-width: 100%; 
    }
}


/* Responsive seccion proyectos */
@media (max-width: 768px) {
    #titulo-proyectos{ /*Ajustar el texto*/
        margin-left: 0;
        text-align: center;
    }
}

/*Solo para pantallas mayores a 769px y menores a 1366 (osea, tabletas)*/
@media (min-width: 769px) and (max-width: 1366px) {
     #titulo-proyectos{ /*Ajustar el texto*/
        margin-left: 0;
        text-align: center;
    }
}


/* Responsive de nombre e email para celular */
@media (max-width: 600px) {
    /* Aquí cambiamos la dirección de la fila Nombre/Email */
    .nombreYemail {
        flex-direction: column; /* Pasa de lado-a-lado a uno-sobre-otro */
    }
}

/* Uso de valid e invalid*/
input:invalid { /*Cuando no cumpla las reglas que pusimos en el html*/
  border: 2px solid red; /*Se pone rojo el color de las esquinas*/
  background-color: #ffe6e6; /*Un poco rojo el color del campo*/
}

input:valid { /*Cuando si cumpla las reglas que pusimos en el html*/
  border: 2px solid green;  /*Se pone verde el color de las esquinas*/
  background-color: #e6ffe6; /*Un poco verde el color del campo*/
}


textarea:invalid { /*Lo mismo aqui*/
  border: 2px solid red;
  background-color: #ffe6e6;
}

textarea:valid {
  border: 2px solid green;
  background-color: #e6ffe6;
}


/* Labels */

/* Etiquetas */
.contenido-contacto label {
    text-align: left; /* Alinea el texto a la izquierda*/
    font-weight: bold; /*Lo pone en negritas*/
    margin-bottom: 5px; /*Crea espacios entre las cajas y los labels*/
    color: #555; /*Color de los labels*/
    font-size: 0.9rem; /*Ajustar el tamanio de los labels*/
}

/* Aqui se separa mas los labels con los inputs */
.contenido-contacto input, 
.contenido-contacto textarea {
    margin-bottom: 10px; /*Se crea espacio antes del siguiente label*/
}

/*Solo para pantallas mayores a 1024px (osea laptops y monitores)*/
@media (min-width: 1025px) {
    #label-mensaje {
        text-align: center;
    }
}             