* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #1E3853; /*color del header*/
    color: white; /*color de las letras del header*/
    padding: 1rem; /*espacio entre elementos del header*/
}




nav {
    display: flex; /*poner los elementos del nav en una misma fila, para que el nombre este de un lado, y las secciones del otro*/
    justify-content: space-between; /*poner espacio entre los elementos del nav*/
    align-items: center; /*alinear los elementos del nav al centro*/
}

#NavNombre {
    color: white; /*color del nombre en el nav*/
}

#inicio {
    background-color: #6048A6; /*Color de fondo del apartado de inicio*/
    color: white; /*Color de las letras del apartado de inicio*/
}


#botonProyectos {
    background-color: #EF7424; /*Color del boton de la seccion del inicio*/
}

#inicio {
    height: 100px; /*Tamanio de la seccion de incio*/
}


nav ul {
    display: flex; /*poner los apartados en la misma fila*/
    list-style: none; /*Quitar los puntos de los elementos de la lista*/
    gap: 1rem; /*poner espacio entre los elementos de la lista*/
}

nav a {
    color: white; /*color de los enlaces del nav*/
    text-decoration: none; /*Quitarles el subrayado al los enlaces*/
}

nav a:hover { /*Efecto al pasar el raton por encima de los enlaces del nav*/
    color: #EF7424; /*cambiar el color de las letras al pasar el raton por encima*/
}

section {
    padding: 2rem; /*espacio entre los elementos de las secciones*/
    min-height: 190px; /*altura minima de las secciones*/
}

.hero {
    background: #f4f4f4; /*color de fondo del apartado hero de los proyectos*/
    text-align:  center; /*centrar el texto del apartado incio*/
}


.project-grid { 
    display: grid; /*poner las tarjetas de proyectos en una misma fila*/
    gap: 1rem; /*poner espacio entre las tarjetas de proyectos*/
    margin-top: 1rem; /*poner espacio entre el titulo y las tarjetas de proyectos*/
}

.project-card {
    border: 1px solid #ddd; /*borde de las tarjetas de proyectos*/
    padding: 1rem; /*espacio entre los elementos de las tarjetas de proyectos*/
}

#titulo-proyectos { 
    margin-left: 330px; /* Alinear texto de "mis proyectos con las tarjetas */ 
}

form {
    display: flex; /*poner los elementos del formulario (solo nombre e email)en una misma fila*/
    flex-direction: column; /*poner los elementos del formulario en columnas*/
    gap: 1rem; /*poner espacio entre nombre y email, y mensaje*/
    max-width: 500px; /*ancho maximo del formulario*/
}

input, textarea {
    padding: 0.5rem; /*espacio dentro de los cuadros de texto*/
    border: 1px solid #ddd; /*borde de los cuadros de texto*/
}

button { /*estilo comun de los botones*/
    padding: 0.5rem; /*espacio dentro de los botones*/
    color: white; /*color de las letras de los botones*/
    border: none; /*quitar el borde de los botones*/
    cursor: pointer; /*cambiar el cursor al pasar por encima de los botones*/
    border-radius: 20px; /*hacer los botones circulares*/
    margin-top: 10px; /*poner espacio entre el boton y el elemento de arriba*/
    
}

footer { 
    background: #1E3658; /*color de fondo del footer*/
    color: white; /*color de las letras del footer*/
    text-align: center; /*Alinear el texto al centro*/
    padding: 1rem; /*Espacio que ocupa el footer*/
}

.contact{
    background: #F2F5FA; /*color del fondo de la seccion de contacto*/
    text-align: center; /*Alinear el titulo al centro*/
}

.social{
    background: #F2F5FA; /*Color del fondo de la seccion contacto*/
    text-align: center; /*alinear elementos (iconos) al centro*/
}

.project-grid {
    display: flex; /*Poner cajas en una fila continuas*/
    gap: 20px;/*Poner espacio entre los cuadros */
    justify-content: center; /* Centrar las cajas*/
}


.project-card {
    border: 1px solid #ccc; /*Borde de las tarjetas de bloque*/
    padding: 25px; /*Espacio dentro de la tarjeta*/
    width: 250px; /*Ancho de la tarjeta*/
    text-align: left; /*Alinear el texto a la izquierda*/
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* ponerle sombra a la caja: X, Y, difuminado, color */
    border-radius: 4%; /*Hacer las tarjetas de bloque circulares*/
}

.verMas {
    border: 2px solid #b1d0E2; /*Color del borde de los botones de ver mas*/
    background-color: white; /*Color del fondo de los botones*/
    color: #018; /*Color del texto de los botones*/
}

#enviarMensaje {
    background-color: #2B69E4; /*Color del boton de enviar mensaje*/
}


.project-card button {
    display: block; /*el botón ocupa su propia línea*/
    margin: 15px auto 0; /*centra horizontalmente*/
    margin-top: 15px; /*deja espacio con el texto (que esta arriba)*/
}

.project-card img {
    display: block; /*La imagen ocupa su propia linea*/
    margin: 0 auto 10px; /*centrar la imagen*/
    margin-bottom: 5px; /*crear espacio en la parte de abajo para separar la imagen del texto*/
    border-radius: 20px; /*hacer la imagen circular*/
}

.project-card p {
    display: block; /*El parrafo ocupa su propia linea*/
}

.nombreYemail{ 
    margin-top: 10px; /*Crear espacio entre el cuadro de email y el cuadro de mensaje*/
    display: flex; /*Poner los cuadros de nombre y email en una misma fila*/
    gap: 15px; /*Crear espacio entre los cuadros de nombre y email*/
}

.nombreYemail input {
    flex: 1; /*Hacer que ambos ocupen el mismo ancho */
}

/*Contacto*/
.contenido-contacto {
    display: flex; /*Poner el form y los iconos en una misma fila*/
    align-items: center; /*Alinear los elementos al centro verticalmente*/
    justify-content: flex-start; /*Centrar los elementos horizontalmente*/
    gap: 20px; /*Crear espacio entre el form y los iconos*/
    max-width: 800px; /*Ancho maximo del contenido de contacto*/
    margin: 0 auto; /*Centrar el contenido de contacto*/
}

.contenido-contacto form {
    flex: 3; /*Espacio que ocupa el form en el flex*/
}

.contacto-imagen {
    flex: 1; /*Espacio que ocupa los iconos*/
}

/*Botones de lenguajes*/
.botonesLenguajes button {
    background-color: #e0e1e2; /*Color de fondo de los botones de lenguajes*/
    color: black; /*Color de las letras de los botones de lenguajes*/
    margin: 0; /*Descentrar los botones que se alinearon en 'button'*/
}
.botonesLenguajes {
    display: flex; /*Poner los botones en una misma fila*/
    text-align: left; /*Alinear botones a la izquierda*/
    gap: 10px; /* Espacio entre botones */
    margin-right: 10px; /*Crear espacio a la derecha de los botones*/
    margin-top: 10px; /*Crear espacio entre texto y botones*/
}